<h1>Class & style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.active]="nameInput2.invalid" style="background-color: red; color: white;">El campo es requerido</p>
<hr>
<h1>[ngSwicth]</h1>
<input type="text" [(ngModel)]="color">
<div [ngSwitch]="color">
  <p *ngSwitchCase="'azul'">
      El color el Azul
  </p>
  <p *ngSwitchCase="'verde'">
      El color el Verde
  </p>
  <p *ngSwitchCase="'rojo'">
      El color el Rojo
  </p>
  <p *ngSwitchDefault>
      No hay ningún color
  </p>
</div>
<hr>
<h1>*ngFor Objs</h1>
<div class="products-grid" style="display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 15px;">
  <div *ngFor="let product of products">
    <img style="width: 100%; border-radius: 10px;" [src]="product.image" [alt]="product.name">
    <h2 style="margin: 0;">{{product.price}}</h2>
    <p style="margin: 0;">{{product.name}}</p>
  </div>
</div>
<hr>
<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngFor="let i of names; index as j">
    {{j}}. {{i}}
    <button (click)="deleteName(j)">Delete</button>
  </li>
</ul>
<hr>
<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name">
<p *ngIf="person.name == 'daniel'; else elseBlock">
  Acertó.
</p>
<ng-template #elseBlock>
  <p>Bloque else</p>
</ng-template>
<hr>
<p>Nombre: {{person.name}}</p>
<input type="text" required="true" #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<p>Edad: {{person.age}}</p>
<input type="number" max="18" min="10" #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>
<br>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">age ++</button>
<button (click)="decreaseAge()">age --</button>
<div (scroll)="onScroll($event)" class="box" style="height: 200px;
width: 200px;
overflow: auto; background-color: blue;">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quae? Doloribus quis nobis quod animi illum ipsam saepe, modi ad repellendus natus eaque quam? Magnam quos exercitationem repellendus culpa. Labore.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sequi nostrum voluptatem laudantium explicabo amet repudiandae. Nostrum, quidem quos molestiae veritatis odio, ipsa dolore suscipit at, sint voluptatibus fugiat inventore.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius eum maiores exercitationem nam iste cum ut omnis officia illo esse, eligendi reprehenderit saepe quo excepturi ipsum mollitia suscipit iusto. Nihil.
  </p>
</div>
<p>Nombre: {{person.name}}</p>
<input type="text" [value]="person.name" (keypress)="changeName($event)">
<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100px" [src]="person.avatar" >
<hr/>
<h1>Hola mundo</h1>
<h2>{{'Hola mundo'.repeat(5)}}</h2>
<p>3 + 3 = {{3 + 3}}</p>
<h3>Hola, soy {{ name }} y tengo {{age}} años.</h3>
<img width="100" src="{{img}}" alt="image">
